
@{
    ViewBag.Title = "ManageUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div class="container" >
    <div class="text-center">
        <h1> Cette fonctionalité est indisponible pour le moment. </h1>
        <h3> Merci de ressayer un peu plus tard</h3>
    </div>

</div>

